<div class="well">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <p>
      <strong>Trail Name: </strong>
      <%= d.revisionreview.revision.trail.name %>
      </p>
      <p>
      <strong>Trail Location: </strong>
      <%= d.revisionreview.revision.trail.location %>
      </p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
