<div class="well">
  <div class="row">
    <div class="col-md-3">
      <!-- trail photo here -->
    </div>
    <div class="col-md-6">
      <p>
      <strong>Trail Name: </strong>
      <%= t.name %>
      </p>
      <p>
      <strong>Trail Location: </strong>
      <%= t.location %>
      </p>
    </div>
    <div class="col-md-3">
      <!-- trail photo here -->
    </div>
  </div>
</div>
