<% content_for :title do %>
  KnowyourBackyard
<% end %>
<div id="preload">
  <%=image_tag("slide1.jpg")%>
  <%=image_tag("slide2.jpg")%>
  <%=image_tag("slide3.jpg")%>
  <%=image_tag("slide4.jpg")%>
</div>

<section id="slide-1" class="homeSlide">
  <div class="bcg"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-anchor-target="#slide-1"
    >
    <div class="hsContainer">
      <div class="hsContent">
        <p class="credit">Photo: <a href="http://instagram.com/TylerJDyck" target="_blank">@TylerJDyck</a></p>
      </div>
    </div>
  </div>
</section>

<section id="slide-2" class="homeSlide">
  <div class="bcg"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-bottom-top="background-position: 50% 100px;"
    data-anchor-target="#slide-2"
    >
    <div class="hsContainer">
      <div class="hsContent">
        <p class="credit">Photo: <a href="http://instagram.com/zmelhus" target="_blank">@zmelhus</a></p>
      </div>
    </div>
  </div>
</section>

<section id="slide-3" class="homeSlide">
  <div class="bcg"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-bottom-top="background-position: 50% 100px;"
    data-anchor-target="#slide-3"
    >
    <div class="hsContainer">
      <div class="hsContent">
        <p class="credit">Photo: <a href="http://instagram.com/zmelhus" target="_blank">@zmelhus</a></p>
      </div>
    </div>
  </div>
</section>

<section id="slide-4" class="homeSlide">
  <div class="bcg"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-bottom-top="background-position: 50% 100px;"
    data-anchor-target="#slide-4"
    >
    <div class="hsContainer">
      <div class="hsContent">
        <p class="credit">Photo: <a href="http://instagram.com/TylerJDyck" target="_blank">@TylerJDyck</a></p>
      </div>
    </div>
  </div>
</section>

<section id="info-slide">
  <div class="container info-slide-content" id="main-text">
    <p id="info-title">Want to see your photo here?</p><br>

    <p id="info-hashtag">It's easy.</p><br>

    <p id="info-para">All you need to do is use the hashtag <br><br><span id="info-hashtag">#KnowYourBackyard</span> <br><br>on your <span id="info-large">Instagram</span> photo. <br><br><br></p>
    <p id="info-para">Every two weeks, we will be going through all of the <span id="info-large">Instagram</span> entries to pick our next features.<br>From there, we will contact you via your Instagram page, and with 
    your permission your photo will <br>be on our home page for the following two weeks! <br>Your username will be displayed at the bottom of the photo and link directly to your profile.</p><br>  
    <p id="info-para"><span id="info-hashtag">Free exposure.</span> 
    <br><br><span id="info-large">What's not to like?</span></p>

  </div>
</section>

<a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>
