<strong>Comments</strong><br>
<% if comments.count==0 %>
  <p>No comments submitted</p>
<% else %>
  <%comments.each do |comment|%>
    <p>
    <%= comment.message %>
    <br>
    <strong>posted by: </strong>
    <%= comment.user.username%>
    <strong> posted at: </strong>
    <%= comment.created_at%>
    </p>
    <br>
  <%end%>
<% end %>
<%= link_to "Make a Comment", controller: "comments", action: "new", id: t %>
