<strong>Trail Conditions</strong><br>
<%if updates.is_a?(String) || updates.count==0 %>
  <p>No posts about the condition of the trail</p>
<% else %>
  <%updates.each do |update|%>
    <p>
    <%= update.message %>
    <br>
    <strong>posted by: </strong>
    <%= update.user.username%>
    <strong> posted at: </strong>
    <%= update.created_at %>
    </p>
    <br>
  <%end%>
<% end %>
<%= link_to "Make a Update on the trail conditions", controller: "trailupdates", action: "new", id: t %>
