/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-theme.min.css
 *= require bootstrap.min.css
 *= require bootstrap-overrides.css.scss
 *= require comments.css.scss
 *= require reviews.css.scss
 *= require revisions.css.scss
 *= require trails.css.scss
 *= require trailupdates.css.scss
 *= require home.css.scss
 *= require about.css.scss
 *= require nav.css.scss
 *= require footer.css.scss
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,700,400|Open+Sans:400italic,600italic,400,600,700,800);
html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #000;
}

body {
  padding-top: 100px; /*Set to fixed navbar height */
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  color: white;
}
.well{
  color: black;
}
.field{
  color: black;
}


p.title-font {
  font: 'Roboto', Verdana, Arial, sans-serif;
  font-size: 35pt;
  font-weight: 700; 
}
a {
  color: #3B3A35;
  transition: color 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
}

.well a:hover,
.well a:focus,
.well a:active {
  color: #00F;
  text-decoration: none;
}

.content {
  background: #A7DBD8;
  color: #000;
}

.content img {
  max-width: 100%;
  height: auto;
}
