.loading .site-footer { 
  display: none; /*Hide site footer until parallax slides have loaded to prevent it appearing below header */
}

.site-footer {
  padding: 30px 0;
  background: #2AA05C;
  color: white;
}

.site-footer p {
  margin-bottom: 0;
}

.site-footer .copyright {
  float: left;
}

.site-footer .contact {
  float: right;
}
.site-footer .icons{
  text-align: center;
}

.ContactButton {
  border:  1px solid rgba(255, 255, 255, .7);
  border-width: 2px;
  padding: 10px 15px;
  color: #97E69D;
}
.ContactButton:hover {
  border-color: #97E69D;
  color: white;
}
