// Place all the styles related to the Trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#trail-info {

}
#trail-rating {
  height: 100px;
}
#trail-description {

  min-height: 300px;
}

#trail-comments {
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
}

#trail-video { 
  min-height: 300px;
  width: 600px;
}
#trail-photos {
  min-height: 300px;
  width: 600px;
  div.item{
    min-height: 300px;
  }
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
  #trail-image-links{
    width: 400px;
    position: relative;
    text-align: center;
    left: 80px;
    top: 130px;
  }
}

#trail-updates {
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  width: 600px;
}
#trail-map {
  height: 450px;
  width: 600px;
}

