<h1>Listing video_submissions</h1>

<table>
  <thead>
    <tr>
      <th>Trail</th>
      <th>Demo link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_submissions.each do |video_submission| %>
      <tr>
        <td><%= video_submission.trail %></td>
        <td><%= video_submission.demo_link %></td>
        <td><%= link_to 'Show', video_submission %></td>
        <td><%= link_to 'Destroy', video_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
