<footer class="site-footer">
  <div class="container">
    <p class="copyright">&copy; 2015</p>
    <p class="contact">Looking to get ahold of us? &nbsp;&nbsp;&nbsp;&nbsp;
    <%=link_to "CONTACT", new_contact_path, class: "ContactButtton" %>
    </p>
  </div>  
</footer>
