<footer class="site-footer">
  <div class="container">
    <p class="copyright">&copy; 2015</p>
    <p class="contact">Looking to get ahold of us? &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="ContactButton">CONTACT</a></p>
  </div>  
</footer>
