<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, class: "btn btn-default", method: :delete %>
<% else %>
  <div class="btn-group">
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-default" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default" %>
  </div>
<% end %>
